<!-- your html code here -->
 <div class="w-50 mx-auto">

    <h1><strong>contact</strong></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, eos voluptatibus? Inventore totam aut quidem tenetur architecto cupiditate ipsam molestiae quibusdam porro optio debitis cumque, atque sunt ad aliquam eaque?</p>


 </div>
 <div class="w-50 mx-auto bg-white-50 p-4 border">

  <div class="row col-12 ">
     <div class="col-2"><label for="">Your E-mail</label></div>
     <div class="col-10"><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email"></div>
  </div><br>

  <div class="row col-12">
     <div class="col-2"><label for="exampleFormControlTextarea1" class="form-label">Your message</label></div>
     <div class="col-10"><textarea class="form-control" id="exampleFormControlTextarea1"rows="5" placeholder="Please enter your message here..."></textarea></div>
  </div><br>

  <div class="text-end borderr p-4"><button type="button" class="btn btn-primary">Primary</button></div>

    </div>