<!-- your html code here -->
<div class="container p-5 bg-white">
    <div class="row align-items-top">
        <div class="col-8">
            <h1>
                <strong>Ya tengo mi disfraz</strong> <Strong style="color: rgb(114, 114, 114);">Soy la noche</Strong>
                <div>
                    <p style="font-size: 20px; font-style: normal; font-weight: lighter;">¡Atención,
                        atención! ¡El incomparable Pato Lucas hace su entrada triunfal! Sí, ya sé que no pueden evitar
                        mirarme, pero por favor, mantengan la calma. ¡La verdadera estrella está aquí!</p>
                </div>
            </h1>
        </div>
        <div class="col-4 ">
            <img src="https://preview.redd.it/bugs-or-daffy-as-batman-v0-9koelycctjcc1.jpg?width=640&crop=smart&auto=webp&s=8093e3f72de5ffbb12afad4dc69ade6ecd63a950"
                alt="" style="border-radius: 50%; width: 400px; height: 400px; object-fit: cover;">
        </div>
    </div>
</div>
</div>