<!-- your html code here -->
<!-- your html code here -->
<div class="card">
  <div class="card-body">
    <div class="container d-flex flex-column">
      <h3 class="card-title"><strong>Portfolio</strong></h3> 
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis blanditiis, harum nihil atque iusto ex voluptate ad eveniet maiores ducimus ut, unde iste omnis, accusantium consequatur? Quibusdam vitae totam at.</p>
    </div>
    <div class="container">
      <div class="row g-4">
        <div class="col">
          <img src="https://picsum.photos/seed/picsum/700/400" class="img-fluid">
          <h2>Project Name</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis esse</p>
        </div>
        <div class="col">
          <img src="https://picsum.photos/seed/picsum/700/400" class="img-fluid">
          <h2>Project Name</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis esse</p>
        </div>
        <div class="col">
          <img src="https://picsum.photos/seed/picsum/700/400" class="img-fluid">
          <h2>Project Name</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis esse</p>
        </div>
      </div>
    </div>
<div class="container my-5">
        <div class="card bg-white pb-5 border-0">

            <!-- Card Header -->
            <div class="card-header bg-white border-0 pb-">
                <h1 class="fs-1">Portfolio</h1>
                <p class="m-auto text-muted">Proyecto compartido con Jose, Lisandro, Adrian, y Marveen, echo con 4Geeks Academy</p>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <div class="row g-4">

                    <!-- Imagen 1 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 border-0">
                            <img src="https://picsum.photos/id/23/700/400" class="card-img-top img-fluid"
                                alt="Imagen 1">
                            <div class="card-footer bg-white">
                                <h6 class="mb-1 mt-3 fs-4 text-primary">Los tenedores de Lisandro</h6>
                                <p class="text-muted">Sus tenedores favoritos para comer les patatas bravas! Como le
                                    gusta tanto les Bravas siempre lleva tres tenedores para compartir con amigos!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Imagen 2 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 border-0">
                            <img src="https://picsum.photos/id/45/700/400" class="card-img-top img-fluid"
                                alt="Imagen 2">
                            <div class="card-footer bg-white">
                                <h6 class="mb-1 mt-3 fs-4 text-primary">El coche de Jose</h6>
                                <p class="text-muted">se compro este coche en India de vuelta de un viaje que le
                                    arruino! Por supuest traer el coche le costo mas que el viaje!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Imagen 3 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 border-0">
                            <img src="https://picsum.photos/id/467/700/400" class="card-img-top img-fluid"
                                alt="Imagen 3">
                            <div class="card-footer bg-white">
                                <h6 class="mb-1 mt-3 fs-4 text-primary">Adrian nadando</h6>
                                <p class="text-muted">A Adrian le encanta nadar, y la fotografia, aqui un auto
                                    retraso des de unos kilometros de nadar! Por supuesto es complicado verlo desde
                                    alla!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
          </div>
          </div>
          </div>
          </div>
